

body {
    display: flex;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Red Hat Display;
    background-repeat: no-repeat;
}

.container {
    max-width: 375px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.image {
    width: 375px;
    height: 180px;
}

.image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 40px;
}

.content .title {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

.content p {
    font-size: 16px;
    color:  grey;
    font-weight: 700;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 1.5;
}

.box {
    width: 280px;
    height: 70px;
    background-color:   hsl(225, 100%, 97%);
    border-color: transparent;
    border-radius: 5px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 30px;
}

.box .icon {
    width: 30px;
    height: auto;
    margin-left: 0px;
    margin-right: 40px;
    text-align: left;
    
}

.box .t1 {
    font-weight: 700;
    font-size: 15px;
    margin-top: 0;
    margin-right: 35px;
    line-height: 1.5;
    color: rgb(47,79,79);
}

.box .t2 {
    font-size: 13px;
    color:  hsl(223, 47%, 23%);
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.buttons .payment {
    width: 280px;
    height: 35px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: hsl(223, 100%, 24%);
    border: 0;
    color: antiquewhite;
    cursor: pointer;
} 

.buttons .cancel {
    width: 280px;
    height: 35px;
    margin-left: 40px;
    margin-bottom: 3em;
    border-radius: 5px;
    background-color: azure;
    border: 0;
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}

.attribution {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:620px) {

    body {
        background-color: rgba(107, 114, 249, 0.549);
        background-image: url(images/pattern-background-mobile.svg);
    }

    .cotainer {
        max-width: 375px;
    }
}